.form_control.error input,
.form_control.error textarea {
    border: 3px solid red;
}

.form_control.error span {
    color: red;
}

.fromSummaryError {
    border: red 1px solid;
    padding: 5px;
    color: #0f431c;

}